includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - includes
        - modal-templates.php
    excludePaths:
        - vendor
        - node_modules
        - build
        - tests
